{% extends "shop/base.html" %}
{% block title %}
About 
{% endblock %}
{% block content %}
<h1 style="text-align: center;"> About </h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium beatae voluptatum voluptatibus nisi. Ratione provident, iste nihil debitis vitae consequatur magnam saepe illo quisquam animi. Beatae aspernatur voluptates excepturi itaque?</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos molestias dolorum maiores nostrum deleniti nihil inventore exercitationem distinctio! Cupiditate, quibusdam! Maxime similique, laborum perspiciatis eaque impedit perferendis ab facilis laboriosam.</p>
{% endblock %}